@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import 'react-toastify/dist/ReactToastify.css';
@import './react-select.scss';
@import './slide-animation.scss';
@import './mixins.scss';

:root {
  --primary-color: #e30b13;
  --dark-red-color: #8f050b;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  @include styles-scrollbar(width, 1vw);
  @apply bg-gray-900;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input[type='file'] {
  @apply cursor-pointer focus:outline-none;
}

input:focus {
  box-shadow: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
  border: 0;
}

.admin-form {
	@apply w-1/2 mt-12;
}
